README
*.exe
*.exe.lnk
workspace/
build-tools/
c4c-integration/
hybris-Mobile-Apps-SDK/
hybris-ems/
hybris-sbg/
licenses/
installer/
hybris/temp/
hybris/data/
hybris/config/
hybris/bin/ext-webservices/
hybris/bin/ext-accelerator/
hybris/bin/ext-atdd/
hybris/bin/ext-atddtests/
hybris/bin/ext-backoffice/
hybris/bin/ext-channel/
hybris/bin/ext-cockpit/
hybris/bin/ext-commerce/
hybris/bin/ext-content/
hybris/bin/ext-data/
hybris/bin/ext-incubator/
hybris/bin/ext-eventtracking/
hybris/bin/ext-integration/
hybris/bin/ext-platform-backoffice/
hybris/bin/ext-platform-optional/
hybris/bin/ext-print/
hybris/bin/ext-supportability/
hybris/bin/ext-template/
hybris/bin/platform/
hybris/bin/ext-addon/acceleratorwebservicesaddon/
hybris/bin/ext-addon/accountsummaryaddon/
hybris/bin/ext-addon/addonsupport/
hybris/bin/ext-addon/assistedservicestorefront/
hybris/bin/ext-addon/b2bacceleratoraddon/
hybris/bin/ext-addon/b2boccaddon/
hybris/bin/ext-addon/b2bpunchoutaddon/
hybris/bin/ext-addon/b2ctelcocheckoutaddon/
hybris/bin/ext-addon/b2ctelcostorefront/
hybris/bin/ext-addon/captchaaddon/
hybris/bin/ext-addon/chinacheckoutaddon/
hybris/bin/ext-addon/chinesestoreaddon/
hybris/bin/ext-addon/chinesetaxinvoiceaddon/
hybris/bin/ext-addon/chineseaddressaddon
hybris/bin/ext-addon/chinesecommerceorgaddressaddon/
hybris/bin/ext-addon/chineselogisticaddon/
hybris/bin/ext-addon/chinesepaymentaddon/
hybris/bin/ext-addon/
hybris/bin/ext-addon/
hybris/bin/ext-addon/cisavs/
hybris/bin/ext-addon/cisclient/
hybris/bin/ext-addon/cisclienttest/
hybris/bin/ext-addon/cispayment/
hybris/bin/ext-addon/cissubscription/
hybris/bin/ext-addon/cispaymenthmc/
hybris/bin/ext-addon/cistaxhmc/
hybris/bin/ext-addon/cistax/
hybris/bin/ext-addon/commerceorgaddon/
hybris/bin/ext-addon/commerceorgsamplesaddon/
hybris/bin/ext-addon/commercesearchsamplesaddon/
hybris/bin/ext-addon/customerticketingaddon/
hybris/bin/ext-addon/entitlementstorefront/
hybris/bin/ext-addon/eventtrackingwsaddon/
hybris/bin/ext-addon/financialacceleratorstorefront/
hybris/bin/ext-addon/financialcheckout/
hybris/bin/ext-addon/hybrisanalyticsaddon/
hybris/bin/ext-addon/jiathis/
hybris/bin/ext-addon/ondemandcommon/
hybris/bin/ext-addon/ondemandcommonhmc/
hybris/bin/ext-addon/savedorderformsoccaddon/
hybris/bin/ext-addon/secureportaladdon/
hybris/bin/ext-addon/subscriptionstorefront/
hybris/bin/ext-addon/timedaccesspromotionsstorefront/
hybris/bin/ext-addon/xyformssamples/
hybris/bin/ext-addon/xyformsstorefrontcommons/
hybris/bin/ext-addon/liveeditaddon/
hybris/bin/ext-addon/personalizationsampledataaddon/
hybris/bin/ext-addon/notificationaddon/
hybris/bin/ext-addon/marketplaceaddon/
hybris/bin/ext-addon/stocknotificationaddon/
hybris/bin/ext-smartedit/
hybris/bin/ext-customer-experience/
hybris/bin/ext-addon/smarteditaddon/
hybris/bin/custom/kb2b/web/webroot/WEB-INF/lib/
hybris/bin/ext-addon/b2cbtgaddon/
hybris/bin/ext-addon/b2bbtgaddon/
hybris/bin/ext-addon/b2cangularaddon/
hybris/bin/ext-addon/multicountrysampledataaddon/
hybris/bin/ext-addon/textfieldconfiguratortemplateaddon/
hybris/bin/ext-addon/chineseproductsharingaddon/
hybris/bin/ext-addon/ordermanagementaddon/
hybris/bin/ext-addon/configurablebundleaddon/
hybris/bin/ext-addon/orderselfserviceaddon/

hybris/log/
hybris/bin/custom/training/
hybris/bin/custom/knackb2bbackoffice/
gensrc/
classes/
hybris/bin/custom/ext-accelerator/b2bacceleratoraddon/

hybris/licenses/
hybris/bin/ext-platform/
*.class
hybris/bin/custom/knackb2b/knackb2bcockpits/build.xml
hybris/bin/custom/knackb2b/knackb2bcore/build.xml
hybris/bin/custom/knackb2b/knackb2bfacades/build.xml
hybris/bin/custom/knackb2b/knackb2bfulfilmentprocess/build.xml
hybris/bin/custom/knackb2b/knackb2binitialdata/build.xml
hybris/bin/custom/knackb2b/knackb2bstorefront/build.xml
hybris/bin/custom/knackb2b/knackb2btest/build.xml
*.number
hybris/bin/custom/knackb2b/knackb2bcockpits/gensrc/
**/gensrc/**
extensioninfo.xsd
platformhome.properties
*testclasses.xml
hybris/bin/custom/knackb2b/knackb2bcore/hmc/bin/knackb2bcorehmc.jar
hmc.xsd
items.xsd
beans.xsd
ruleset.xml
build.xml
hybris-*.zip
hybris/bin/PUT_HERE_FILES_THAT_MUST_BE_COPIED_TO_HYBRIS_BIN.TXT
**/eclipsebin/.gitignore
**/hmc/.gitignore
**/eclipsebin/web/.gitignore
**/eclipsebin/
*org.eclipse.core.resources.prefs
hybris/bin/custom/knackb2b/knackb2bcore/gensrc
hybris/bin/custom/knackb2b/knackb2bfulfilmentprocess/gensrc
hybris/bin/custom/knackb2b/knackb2bservices/gensrc
hybris/bin/custom/knackb2b/knackb2bfacades/gensrc
hybris/bin/custom/knackb2b/knackb2binitialdata/gensrc
hybris/bin/custom/knackb2b/knackb2btest/gensrc
velocity.log
hybris/bin/custom/knackb2b/knackb2bstorefront/web/webroot/WEB-INF/messages/base.properties
activemq-data/
#hybris/bin/custom/knackb2b/knackb2bstorefront/web/addonsrc/
#hybris/bin/custom/knackb2b/knackb2bstorefront/web/commonwebsrc/
#hybris/bin/custom/knackb2b/knackb2bstorefront/web/webroot/WEB-INF/tags/addons/
#hybris/bin/custom/knackb2b/knackb2bstorefront/web/webroot/WEB-INF/messages/addons/b2bsecurecustomerportal/base.properties
#hybris/bin/custom/knackb2b/knackb2bstorefront/web/webroot/WEB-INF/views/addons/
#hybris/bin/custom/knackb2b/knackb2bstorefront/web/webroot/WEB-INF/tld/addons/
hybris/bin/custom/knackb2b/knackb2bstorefront/web/webroot/_ui/addons/b2bsecurecustomerportal/desktop/common/js/b2bsecurecustomerportal.js
hybris/bin/custom/knackb2b/knackb2bstorefront/web/webroot/_ui/addons/b2bsecurecustomerportal/desktop/common/images/AddImagesHere.txt
hybris/bin/custom/knackb2b/knackb2bstorefront/web/webroot/_ui/addons/b2bsecurecustomerportal/desktop/common/css/b2bsecurecustomerportal.css
hybris/bin/custom/knackb2b/knackb2bstorefront/web/webroot/WEB-INF/tags/mobile/template/javaScriptVariables.tag
hybris/bin/custom/knackb2b/knackb2bstorefront/web/webroot/WEB-INF/tags/mobile/template/javaScriptAddOnsVariables.tag
com.springsource.sts.config.flow.prefs
#hybris/bin/custom/knackb2b/knackb2bstorefront/web/webroot/_ui/addons/
hybris/bin/custom/knackb2b/knackb2bstorefront/web/webroot/WEB-INF/messages/addons/quickorder/
hybris/bin/ext-addon/addonsupport/resources/localization/addonsupport-locales_de.properties
hybris/bin/ext-addon/addonsupport/resources/localization/addonsupport-locales_es.properties
hybris/bin/ext-addon/addonsupport/resources/localization/addonsupport-locales_fr.properties
hybris/bin/ext-addon/addonsupport/resources/localization/addonsupport-locales_it.properties
hybris/bin/ext-addon/addonsupport/resources/localization/addonsupport-locales_ja.properties
hybris/bin/ext-addon/addonsupport/resources/localization/addonsupport-locales_ko.properties
hybris/bin/ext-addon/addonsupport/resources/localization/addonsupport-locales_pt.properties
hybris/bin/ext-addon/addonsupport/resources/localization/addonsupport-locales_ru.properties
hybris/bin/ext-addon/addonsupport/resources/localization/addonsupport-locales_zh.properties
hybris/bin/ext-addon/b2bsecurecustomerportal/hmc/bin/b2bsecurecustomerportalhmc.jar
hybris/bin/ext-labs/addons/toolkit/addoncommon/gensrc/
hybris/bin/ext-addon/quickorder/gensrc/
hybris/bin/ext-addon/addonsupport/gensrc/
hybris/bin/ext-addon/b2bsecurecustomerportal/gensrc/
hybris/bin/custom/knackb2b/knackb2bstorefront/web/webroot/WEB-INF/messages/theme-green.properties
*.pmd
*.springBeans


hybris/bin/custom/electroluxconfigureablebundles/.classpath
hybris/bin/custom/knackb2b/knackb2bcore/.classpath
hybris/bin/custom/knackb2b/knackb2bfacades/.classpath
hybris/bin/custom/knackb2b/knackb2bfulfilmentprocess/.classpath
hybris/bin/custom/knackb2b/knackb2binitialdata/.classpath
hybris/bin/custom/knackb2b/knackb2bservices/.classpath
hybris/bin/custom/knackb2b/knackb2bstorefront/.classpath
hybris/bin/custom/knackb2b/knackb2btest/.classpath
hybris/bin/custom/knackb2c/knackb2ccockpits/.classpath
hybris/bin/custom/knackb2c/knackb2ccore/.classpath
hybris/bin/custom/knackb2c/knackb2cfacades/.classpath
hybris/bin/custom/knackb2c/knackb2cfulfilmentprocess/.classpath
hybris/bin/custom/knackb2c/knackb2cinitialdata/.classpath
hybris/bin/custom/knackb2c/knackb2cservices/.classpath
hybris/bin/custom/knackb2c/knackb2cstorefront/.classpath
hybris/bin/custom/electroluxcommon/electroluxcommoncore/.classpath
hybris/bin/custom/electroluxcommon/electroluxcommonjmssuport/.classpath
hybris/bin/custom/elxbackoffice/extensioninfo.xsd
hybris/bin/custom/elxbackoffice/resources/backoffice/elxbackoffice_bof.jar
hybris/bin/custom/elxbackoffice/platformhome.properties
hybris/bin/custom/elxbackoffice/build.xml
hybris/bin/custom/campaign/campaigncore/hmc/bin/campaigncorehmc.jar
hybris/bin/custom/knackb2c/knackb2ctest/
hybris/bin/custom/knackb2c/knackb2cstorefront/web/addonsrc/
hybris/bin/custom/knackb2c/knackb2cstorefront/web/commonwebsrc/
hybris/bin/custom/knackb2c/knackb2cstorefront/web/webroot/WEB-INF/tags/addons/
hybris/bin/custom/knackb2c/knackb2cstorefront/web/webroot/WEB-INF/messages/addons/
hybris/bin/custom/knackb2c/knackb2cstorefront/web/webroot/WEB-INF/views/addons/
hybris/bin/custom/knackb2c/knackb2cstorefront/web/webroot/WEB-INF/tld/addons/
hybris/bin/custom/knackb2c/knackb2cstorefront/web/webroot/_ui/addons/
hybris/bin/custom/knackb2c/knackb2cstorefront/web/webroot/cmscockpit/
hybris/bin/custom/knackb2c/knackb2cstorefront/web/webroot/cockpit/
hybris/bin/custom/knackb2b/knackb2bstorefront/web/webroot/WEB-INF/messages/addons/
hybris/bin/custom/knackb2c/knackb2cstorefront/web/bin/
hybris/bin/custom/knackb2c/knackb2cstorefront/bin/
hybris/bin/custom/knackb2c/knackb2ccore/hmc/bin/knackb2ccorehmc.jar
hybris/bin/custom/knackb2c/knackb2cstorefront/node_modules
hybris/bin/custom/campaign/campaignstorefront/web/addonsrc/
hybris/bin/custom/campaign/campaignstorefront/web/commonwebsrc/
hybris/bin/custom/campaign/campaignstorefront/web/webroot/WEB-INF/tags/addons/
hybris/bin/custom/campaign/campaignstorefront/web/webroot/WEB-INF/messages/addons/
hybris/bin/custom/campaign/campaignstorefront/web/webroot/WEB-INF/views/addons/
hybris/bin/custom/campaign/campaignstorefront/web/webroot/WEB-INF/tld/addons/
hybris/bin/custom/campaign/campaignstorefront/web/webroot/_ui/addons/
hybris/bin/custom/campaign/campaignstorefront/web/webroot/cmscockpit/
hybris/bin/custom/campaign/campaignstorefront/web/webroot/cockpit/
hybris/bin/custom/campaign/campaignstorefront/web/bin/
hybris/bin/custom/campaign/campaignstorefront/bin/

hybris/bin/custom/acceleratorwebcommons/.project